.GlosemNavigationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 55555;
  align-items: center;
  position: fixed;
  transition: .5s;
}

.GlosemNavigationContainer .NavigationLink {
  color: white;
}

.GlosemNavigationContainer.scrolled {
  background-color: white;
  /* Set background color to white after scroll */
  transition: .5s;
  color: black;
}

.GlosemNavigationContainer.scrolled .NavigationLink {
  color: black;
}

.NavigationChild {
  width: 90%;
  /* background-color: red; */
  height: 10vh;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.428);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavigationChild .FirstIcon:first-child {
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 0.3rem;
  height: 0.3rem;
  display: flex;
  transform: rotate(45deg);
  background-color: rgb(226, 226, 226);
}

.NavigationChild .LastIcon:last-child {
  position: absolute;
  right: 0px;
  bottom: -2px;
  width: 0.3rem;
  height: 0.3rem;
  display: flex;
  transform: rotate(45deg);
  background-color: rgb(226, 226, 226);
}

.NavigationChild .NavigationLinksContainer .Links {
  list-style-type: none;
  /* Remove bullet points */
  padding: 0;
  /* Remove default padding */
  margin: 0;
  /* Remove default margin */
  display: flex;
  /* Align items horizontally */
}

.NavigationLink {
  position: relative;
  /* Needed for the absolute positioning of ::after */
  margin: 0px 20px;
  text-decoration: none;
  /* Remove underline */
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
  /* Change to your preferred color */
  padding: 10px;
  /* Add padding for better click area */
  display: inline-block;
  /* Make the anchor tag a block for better area */
}

.NavigationLink::after {
  content: "";
  /* Required for pseudo-element */
  position: absolute;
  /* Position it absolutely within the a tag */
  left: 0;
  /* Start from the left */
  bottom: 0;
  /* Position it at the bottom */
  height: 1px;
  /* Height of the border */
  background-color: rgb(0, 0, 0);
  /* Change to your preferred color */
  width: 0%;
  /* Initial width */
  transition: width 0.3s ease-in;
  /* Smooth transition for width */
}

.NavigationChild .NavigationLinksContainer .Links a:hover::after {
  width: 100%;
  /* Full width on hover */
}

.menuBtn {
  display: none;
}

.menuBtn svg {
  font-size: 30px;
}

.NavigationLogoContainer {
  /* width: 15%; */

  background-color: transparent;
}

.NavigationLogoContainer img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 200px;
  position: fixed;
  
  top: -24px;
}

.NavigationContactContainer {
  font-size: 20px;
}

.NavigationContactContainer:hover {
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
}

.LogoContainer {
  display: none;
}

@media (max-width: 769px) {
  .LogoContainer {
    display: block;
    width: 30%;
    background-color: transparent;
  }

  .LogoContainer img {
    aspect-ratio: 3/2;
    object-fit: contain;
    width: 100%;
  }

  .NavigationChild {
    width: 90%;
    /* background-color: red; */
    height: 10vh;
    border-bottom: 1px dashed rgba(128, 128, 128, 0.428);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
  }

  .GlosemNavigationContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* padding: 10px 20px; */
    padding: 0 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
  }

  .menuBtn {
    display: block;
  }
}

.slideDownMenu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10;
}

.slideDownMenu.open {
  height: 40vh;
  display: flex;
  align-items: center;
  /* When open, menu height is 40vh */
}

.slideMenuContent {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}


.NavigationLink.non-home-active {
  color: black;
}
