#AboutUsContainer {
  padding-top: 0rem;
  padding-left: 7%;
  padding-right: 7%;
  position: sticky;
  background-color: white;
}

.TopOfContainer {
  margin: 2rem 0rem;
  padding: 1rem 0rem;
}

.TopOfContainer h4 {
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: end;
}

.TopOfContainer h4::before {
  content: "";
  display: inline-block;
  /* Ensures that the element respects width and height */
  height: 5px;
  width: 5px;
  background-color: #e0e0e0;
  margin-right: 10px;
  /* Adds some space between the icon and the text */
  vertical-align: middle;
  /* Aligns the box with the text */
  transform: rotate(45deg);
}

#AboutUsContainer .ProductApplicationHeaderContainer hr {
  margin: unset;
}

#AboutUsContainer .ProductApplicationHeaderContainer h4 {
  text-align: start;
}

.CarousalImages {
  width: 100% !important;
}

.SwiperContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  margin: 6rem 1rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  position: sticky;
  top: 12%;
}

.ProductsContainer {
  padding-bottom: 5rem;
}

.ant-collapse-expand-icon {
  position: absolute;
  right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.405);
  display: flex;
  justify-content: center;
  padding-right: 0px !important;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  background-color: transparent;
}

.ant-collapse-item-active .ant-collapse-expand-icon {
  position: absolute;
  right: 0px;
  border: 1px solid #2180de;
  display: flex;
  justify-content: center;
  padding-right: 0px !important;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  background-color: #2180de;
}

.ProductsContainer .ant-collapse {
  border: none;
  transition: 3s;
}

.ProductsContainer .ant-collapse-content {
  border: none;
}

.ProductsContainer .ant-collapse-header {
  padding: 30px 20px !important;
  display: flex;
  align-items: center !important;
}

.ProductsContainer .ant-collapse-expand-icon .anticon {
  background-color: transparent !important;
  color: white !important;
}

.ant-collapse-item-active .ant-collapse-expand-icon span svg {
  background-color: transparent !important;
  color: white !important;
}

.ant-collapse-item-active .ant-collapse-expand-icon span svg path {
  color: white !important;
}

.ProductsContainer .ant-collapse-item-active .ant-collapse-expand-icon .anticon {
  background-color: transparent !important;
  color: white !important;
}

.ant-collapse-expand-icon span svg {
  background-color: transparent !important;
  color: rgb(0, 0, 0) !important;
}

.ant-collapse-expand-icon span svg path {
  color: rgb(0, 0, 0) !important;
}

.ProductsContainer h2 {
  font-weight: 400;
  /* font-size: 2rem; */
}

.ant-collapse-item-active {
  border-color: #2180de !important;

  /* Change border color to red */
}

.ProductsContainer b {
  font-weight: 500;
}

.ProductsContainer ul {
  padding-left: 20px;
}

.ant-motion-collapse {
  transition: height 1s ease-in-out !important;
  /* Set animation duration to 1 second */
}

.ServiceCardContainer {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.ServiceCardContainer .CardImageContainer {
  /* padding: 10px; */
}

.ServiceCardContainer .BottomCardContainer {
  width: 100%;
  border-radius: none;
  background: transparent;
  margin-top: 0;
  height: max-content;
}

.ServiceCardContainer .BottomCardContainer h2,
ul,
li {
  background-color: transparent;
}

.FounderCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.FounderImageContainer {
  width: 100%;
  padding: 10px;
}

.FounderImageContainer img {
  aspect-ratio: 3/2;
  object-fit: contain;
  width: 100%;
}

.FounderHeading {
  font-weight: 400;
  font-size: 2rem;
}



.RightSideCondition img {
  width: 300px !important;
  height: 300px !important;
  aspect-ratio: 3/2;
  object-fit: contain;
  border-radius: 10px;
}
.ImageHover{
  transition: .5s;
}

.RightSideCondition:hover .ImageHover {
  transition: .5s;
  transform: scale(1.1);
}

@media (max-width: 576px) {

.TopOfContainer {
  margin: 2rem 0rem;
  margin-top: 0rem;
}

  .RightSideCondition img {
    width: 300px;
    height: 300px;
    aspect-ratio: 3/2;
    object-fit: contain;
    border-radius: 10px;
    margin: auto;
  }

  .ServiceCardContainer {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  .stickyContainer {
    display: none;
  }

  .RightSideCondition {
    padding: 1rem 0rem !important;
    /* padding: 1rem 1rem !important; */
    flex-direction: column;
    gap: 30px;
    /* margin: 50px 0; */
  }

  .SwiperContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    overflow: hidden;
    margin: 0rem 0rem;
    top: 0%;
  }

  .ProductsContainer .ant-collapse-header {
    padding: 20px 2% !important;
  }

  .ProductsContainer ul {
    padding: 0 2%;
  }

  #AboutUsContainer {
    padding-top: 0rem;
    padding-left: 3%;
    padding-right: 3%;
  }

  .ProductsContainer {
    padding: 1rem 0rem;
    padding-bottom: 2rem;
  }

  .FounderCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }

  .FounderDescription ul {
    padding-left: 20px;
  }
}

.LinksShow {
  position: relative;
}

.LinksShow div{
  padding: 1rem 1rem;
}
.LinksShow div:first-child{
  padding: 0px;
}
.LinksShow h4 {
  color: rgb(0,30,96);
}

.LinksShow h4:first-child {
  padding-top: 0rem;
}

.ProgressBar {
  height: 100%;
  width: 2px;
  background-color: #000000;
  position: absolute;
}

.RightSideCondition {
  padding: 2rem 2rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(161, 161, 161);
  transition: .5s;
}
.RightSideCondition:hover {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(161, 161, 161);
  background-color: #001e60db;
  border-radius: 20px;
  color: white;
  transition: .5s;
}
.RightSideCondition:hover h2, .RightSideCondition:hover p ul li, .RightSideCondition:hover p ul b{
  color: white;
}

.stickyContainer {
  position: sticky;
  top: 300px;
}


.RightSideCondition .ant-image-mask {
  background-color: transparent !important;
}

.RightSideCondition .ant-image-mask-info {
  display: none !important;
}

.RightSideCondition div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  width: 100%;
}


.AnimatedParallaxImageContainer img{
    width: 50%; /* Default width */
    border: 1px solid red;
    transition: width 0.3s ease; /* Smooth transition */
}

.ParallaxImage img{
  margin: auto;
  position: sticky;
  top: 20%;
  display: flex;
  border-radius: 10px;

}
.ParallaxImage{
  height: 300vh;
  /* overflow: hidden; */
}


@media (max-width:769px){
  .ParallaxImage{
    height: 43vh;
    /* overflow: hidden; */
  }
  .ParallaxImage img {
    width: 100%; /* Set width to 100% on mobile */
    border-radius: 0; /* Reset border radius on mobile */
}
}