#GlosemProductsContainer {
  padding-top: 0rem;
  padding-left: 7%;
  padding-right: 7%;
  padding-bottom: 2rem;
  position: sticky;
  background-color: white;
}

#GlosemProductsContainer .ProductApplicationHeaderContainer hr {
  margin: unset;
}

#GlosemProductsContainer .ProductApplicationHeaderContainer h4 {
  text-align: start;
}

.ProductImageContainer {
  margin-left: -130px;
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ProductImageContainerNew {
  margin-right: -130px;
  height: 80%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ProductImageContainer img {
  width: 100%;
  border-radius: 10px;
}

.ProductImageContainerNew img {
  width: 100%;
  border-radius: 10px;
}

.ContentColumnContainer {
  width: 100%;
  background-color: white;
  height: 60%;
  position: sticky;
  z-index: 55;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
}

.ContentColumnContainer h2 {
  background-color: transparent;
  font-weight: 500;
}

.ProductCardsContainer .ant-row .ant-col {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.ProductsApplicationCard {
  padding: 2rem 0rem;
}
.ProductsApplicationCard .CommonBtn .BookCallBtn {
  width: 250px;
  font-size: 12px;
  padding: 10px 10px;
}

.ProductsApplicationCard .CommonBtn {
  background-color: transparent;
  padding-bottom: 0rem;
  padding-top: 1.5rem;
}

.ant-modal .ant-modal-content {
  padding: 20px 40px !important;
}
.ProjectModal {
  padding: 30px 0px;
  padding-top: 0;
}
.ProjectModal ul {
  padding-left: 30px;
}

.ProjectModal h2 {
  font-weight: 400;
  margin-top: 10px;
  color: #001e60;
}
.ProductFirstRow {
  border-bottom: 1px dashed rgba(128, 128, 128, 0.428);
  position: relative;
  padding-bottom: 20px;
}

.ProductFirstRow .FirstIcon:first-child {
  position: absolute;
  left: 0px;
  bottom: -3px;
  width: 0.3rem;
  height: 0.3rem;
  display: flex;
  transform: rotate(45deg);
  background-color: rgb(226, 226, 226);
}

.ProductFirstRow .LastIcon:last-child {
  position: absolute;
  right: 0px;
  bottom: -3px;
  width: 0.3rem;
  height: 0.3rem;
  display: flex;
  transform: rotate(45deg);
  background-color: rgb(226, 226, 226);
}
.backoverlayImage img {
  width: 500px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.05;
}
.ProductInsideImageContainer {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 3/2; */
  /* object-fit: contain; */
}
.ProductInsideImageContainer img {
  width: 100%;
}
#ProductApplicationCard .CardImageContainer {
  padding: 0px;
}
.ProductsApplicationCard .CardImageContainer {
  padding: 30px;
}

.ImageHover {
  transition: 0.5s;
}

.RightSideCondition {
  padding: 2rem 2rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(161, 161, 161);
  transition: 0.5s !important;
}

.RightSideCondition:hover {
  padding: 3rem 2rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(161, 161, 161);
  background-color: #001e60db;
  border-radius: 20px;
  color: white;
  transition: 0.5s ease-in-out !important;
 }

.RightSideCondition:hover h2,
.RightSideCondition:hover p ul li,
.RightSideCondition:hover p ul b {
  color: white;
}

.stickyContainer {
  position: sticky;
  top: 300px;
}

.RightSideCondition .ant-image-mask {
  background-color: transparent !important;
}

.RightSideCondition .ant-image-mask-info {
  display: none !important;
}

.RightSideCondition div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  width: 100%;
}

.RightSideCondition:hover .ImageHover {
  transition: 0.5s;
  transform: scale(1.1);
}
@media (max-width: 769px) {
  .ant-modal .ant-modal-content {
    padding: 20px 20px !important;
  }
  .ProductsApplicationCard .CommonBtn .BookCallBtn {
    width: 100%;
  }

  .ProductCardsContainer .ant-row .ant-col {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: transparent;
  }

  .ProductImageContainer {
    margin-left: 0px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .ProductImageContainerNew {
    margin-right: 0px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .ContentColumnContainer {
    width: 100%;
    background-color: white;
    height: 100%;
    position: sticky;
    z-index: 55;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
  }

  #GlosemProductsContainer {
    padding-top: 0rem;
    padding-left: 1%;
    padding-right: 1%;
  }
}

@media (max-width: 576px) {
  #GlosemProductsContainer {
    padding-left: 2%;
    padding-right: 2%;
  }
  .ProductFirstRow {
    padding-bottom: 0;
  }
}
