.GlosemHomeContainer h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.125;
}

.HomeAnimatedContainer {
    background-image: url("https://webtesting-upload.vercel.app/assets/GlosemUpdatedbanner-Df6Gz7W9.jpeg");
    background-size: cover;
    height: 50vh;
    background-position: center;
    margin-top: 3rem;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

#GlosemHome {
    padding-bottom: 3rem;
    padding-top: 0rem;
}

.HeightContainer {
    height: 100vh;
    display: flex;
    align-items: center;

}

#GlosemHome video {
    position: absolute;
    right: 0px;
    left: 0px;
    height: 100%;
    /* z-index: 4; */

}

.Mainheading h1 {
    color: white;
    font-weight: 400;
    font-size: 3rem;
}

.Mainheading p {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.VideoOvlayback {
    background-color: rgb(0, 0, 0);
    height: 100%;
    position: absolute;
    /* z-index: 5; */
    right: 0px;
    left: 0px;
    opacity: 0.4;
}


.OverlayBack {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #0000007f;
    border-radius: 20px;
}

.Mobile {
    display: none;
}
.mainheading {
    opacity: 0; /* Initial state (invisible) */
    transform: translateY(40px); /* Slight upward motion for effect */
    animation: fadeIn 1s ease-out forwards; /* Apply fade-in animation */
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(40px); /* Start slightly below */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End at normal position */
    }
  }

@media (max-width:769px) {
    .HomeAnimatedContainer {
        background-attachment: scroll;
    }

    #GlosemHome video {
        position: absolute;
        right: 0px;
        left: 0px;
        height: 100%;
        /* z-index: 4; */
        display: none;

    }

    .HeightContainer {
        height: 100%;
        display: flex;
        align-items: center;

    }
    .pc {
        display: none;
    }

    .Mobile {
        display: block;
    }

    .Mainheading h1 {
        color: black;
        margin-top: 10px;
    }

    #GlosemHome {
        padding-bottom: 3rem;
        padding-top: 5rem;
    }

}

/* GlosemHome.css */
#loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 9999099999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
    transition: opacity 1s ease-in-out;
    transition: 1s;
}

#loader.fade-out {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 1s;
}

.hidden {
    opacity: 0;
    transition: 1s;
}

.HeightContainer {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    transition: 1s;
}

.faded-in {
    opacity: 1;
    transition: 1s;
}