#glosemAnimatedTimeline {
  height: 600vh;
  /* Full viewport height */
  overflow: hidden;
}

.ScrollContainer {
  position: relative;
  height: 100%;
  /* Full height of the section */
}

.ScrollContainerContent {
  display: flex;
  flex-direction: row;
  /* Align images in a row */
  position: fixed;
  top: 20%;
  left: 0;
  /* width: 100%; */
  /* Ensure it takes full width */
  transition: transform 0.1s;
  /* Smooth transition for transform */
}

.ScrollContainerContent img {
  width: 200px;
  /* Adjust as needed */
  height: 300px;
  /* Adjust as needed */
  margin: 10px;
  /* Space between images */
}

.ContainerContent {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  flex-direction: column;
}


.EvenContainer,
.OddContainer {
  position: absolute;
  background-color: #174ea617;
  padding: 30px;
  max-height: 40vh;
  border-radius: 20px;
}

.EvenContainer {
  top: -5%;
}

.OddContainer {
  bottom: -5%;
}

.ContainerContent .CommonBtn .BookCallBtn {
  width: 200px !important;
  padding: 10px 30px;
}

.ContainerContent .CommonBtn .LineAnimation {
  position: absolute;
  right: -200%;
  width: 400px;
  z-index: -1;
  opacity: 1;
  border-bottom: 1px dotted rgb(0 0 0);
}

.ContainerContent:nth-child(2) .OddContainer {
  bottom: -11%;
}

.ContainerContent:nth-child(6) .OddContainer {
  bottom: 1%;
}

.ContainerContent:nth-child(5) .EvenContainer,
.ContainerContent:nth-child(7) .EvenContainer {
  top: -12%;
}

.ContainerContent:nth-child(7) .LineAnimation {
  display: none;
}

/* @media (max-width: 1024px) {
  
  .ScrollContainerContent {
    top: 20%;
    flex-direction: row; 
  }
  
  .ScrollContainerContent img {
    width: 150px;
    height: 200px;
  }

  .ContainerContent {
    height: 28vh;
    width: 500px;
  }

  .EvenContainer, .OddContainer {
    padding: 20px;
  }
} */
.KeystagesContainer img {
  width: 100%;
}

@media (max-width: 768px) {
  .GlosemKeyStages {
    padding-left: 3%;
    padding-right: 3%;
    padding: 1rem auto;
  }

  .ScrollContainerContent {
    top: 5;
    flex-direction: row;
  }

  .ContainerContent {
    width: 400px;
  }

  .EvenContainer,
  .OddContainer {
    max-height: 30vh;
  }

  .EvenContainer {
    top: -2%;
  }

  .OddContainer {
    bottom: -2%;
  }

  .CommonBtn .LineAnimation {
    position: absolute;
    right: -100%;
    width: 200px;
    z-index: 100;
    opacity: 1;
    border: 1px dotted black;
  }

  #glosemAnimatedTimeline {
    height: 340vh;
    overflow: hidden;
  }

}

@media (max-width: 400px) {
  #glosemAnimatedTimeline {
    height: 355vh;
    overflow: hidden;
  }
}

@media (max-width: 376px) {
  #glosemAnimatedTimeline {
    height: 425vh;
    overflow: hidden;
  }

  .EvenContainer {
    top: -15%;
  }

  .OddContainer {
    bottom: -18%;
  }
}